<html>
  <head>
    <title>Transit Finder</title>
  </head>

  <link rel="stylesheet" type="text/css" href="/static/css/ui.datepicker.css"/>
  <link rel="stylesheet" type="text/css" href="/static/css/finder.css"/>

  <script src="/static/js/jquery-1.2.3.js"/>
  <script src="/static/js/ui.datepicker.js"></script>

  <script>

        $(document).ready(function () {

            $("#setPeriod").submit(function() {
                window.location = "/" + $("#period").val();
                return false;
            });

            $("#setLocation").submit(function() {
                window.location = "/finder/location/"+$("#longitude").val()+"/"+$("#latitude").val()+"/"+$("#altitude").val()+"/"+$("#offset").val();
                return false;
            });

        });

  </script>

  <body>

    <div id="content">

      <h1 class="title">Transit Finder</h1>

      <div id="location">

        <form id="setLocation">

          <label for="longitude">Longitude</label>
          <input type="text" name="longitude" id="longitude" value="+/-dd mm ss"/>

          <label for="latitude">Latitude</label>
            <input type="text" name="latitude" id="latitude" value="dd mm ss"/>

              <label for="altitude">Altitude</label>
              <input type="text" name="altitude" id="altitude" value="nnn.n"/>

                <label for="offset">GMT Offset</label>
                <input type="text" name="offset" id="offset" value="+/-H.H"/>

                  <input type="submit" value="Set location!"/>

        </form>

      </div>

      <div id="selection">

        <form id="setPeriod">

          <label for="period">find transits for</label>
          <select name="period" id="period">
            <option value="tonight">tonight</option>
            <option value="this-week">next 7 days</option>
            <option value="this-month">next 30 days</option>
          </select>

          <input type="submit" value="Find!"/>

        </form>

      </div>

      {% if error %}
      <div class="error">
        {{ error }}
      </div>
      {% else %}

      <div id="results">
        <h2>Transits between <span class="date_range">{{begin.strftime("%Y/%m/%d")}}</span> and  <span class="date_range">{{end.strftime("%Y/%m/%d")}}</span></h2>

        {% if not days %}
        <p>
          There are no transits observable for your location at this time.
        </p>
        {% else %}

        {% for day in days %}
        <div>
          <h3 class="date_header">{{day.strftime("%B %d")}}<span class="date_header_year"> {{day.strftime("%Y")}}</span></h3>

          <table class="transits">

            <thead>
              <th>planet</th>
              <th>begin</th>
              <th>center</th>
              <th>end</th>
              <th>observable hours</th>
              <th>% of total</th>
            </thead>

            {% for transit in transits[day] %}
            <tr>
              <td class="planet"><a href="http://simbad.u-strasbg.fr/simbad/sim-id?Ident={{transit.planet}}">{{transit.planet}}</a></td>
              <td class="hour">{{transit.begin.strftime("%H:%M")}}</td>
              <td class="hour">{{transit.center.strftime("%H:%M")}}</td>
              <td class="hour">{{transit.end.strftime("%H:%M")}}</td>
              <td class="observable">{{"%2.1f" % transit.observable}}</td>
              <td class="percent">{{"%2.0f" % transit.percent}}
              {% if transit.percent == 100 %}
                <span><img class="full" src="/static/images/full.png"/></span>
              {% endif %}
              </td>
            </tr>
            {% endfor %}

          </table>
        </div>
        {% endfor %}

        {% endif %}

      </div>

      {% endif %}

   </div>

  <div id="credits">
    (c) 2015 Paulo Henrique Silva (ph.silva at gmail dot com)
  </div>
  </body>
</html>
